.scrollable{
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    background-color:pink;
    margin:auto;
    padding:5px;
 }
 .scrollable::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
    background-color: #F5F5F5; /* Set the background color of the scrollbar */
    position: absolute;
    left: 0; /* Position the scrollbar on the left of the element */
 }
 .scrollable::-webkit-scrollbar-thumb {
    background-color: #000000; /* Set the color of the thumb */
    
 }
 ::-webkit-scrollbar-track {
border-radius: 5px;
 }

 .InfiniteScroll::-webkit-scrollbar-thumb{
   overflow-y: hidden;
   background-color: blue;
 }