@import '../../../../theme/variables';
@import '../../../../theme/mixins';
@import '../../../../theme/colors';
@import '../../../../theme/spacing';
@import '../../../../theme/typography';

.generic-message {
  display: flex;
  width: 100%;
  padding: map-get($spacing, 'xs') map-get($spacing, 'sm');
  min-height: 40px;
  justify-content: flex-start; // Default left alignment

  &.sender {
    justify-content: flex-end; // Right alignment for sender
  }

  &__content {
    background: rgba($neutral-300, 0.2);
    border-radius: map-get($radius, 'md');
    padding: map-get($spacing, 'xs') map-get($spacing, 'sm');
    font-size: $font-size-sm;
    color: $neutral-600;
    max-width: 50%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: map-get($spacing, 'xs');

    &--deleted {
      font-style: italic;
      color: $neutral-500;
    }

    &--system {
      color: $primary-600;
    }

    .time-stamp {
      font-size: $font-size-xs;
      color: $neutral-500;
      align-self: flex-end;
    }
  }
}

@media (max-width: map-get($breakpoints, 'md')) {
  .generic-message {
    min-height: 120px;
    padding: map-get($spacing, 'md') map-get($spacing, 'sm');
    
    &__content {
      width: 80%;
      padding: map-get($spacing, 'md');
    }
  }
}
