@import '../../../../theme/variables';
@import '../../../../theme/mixins';
@import '../../../../theme/colors';
@import '../../../../theme/spacing';
@import '../../../../theme/typography';

.add-candidates {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__list {
    flex: 1;
    min-height: 0;
    
    ::-webkit-scrollbar {
      width: 6px;
    }
    
    ::-webkit-scrollbar-track {
      background: $neutral-200;
      border-radius: map-get($radius, 'sm');
    }
    
    ::-webkit-scrollbar-thumb {
      background: $primary-300;
      border-radius: map-get($radius, 'sm');
      
      &:hover {
        background: $primary-400;
      }
    }
  }
} 