$primary-color: rgb(8, 8, 207);
$secondary-color: blue;

$header-color: $primary-color;
$read-chat-bg: white;
$unread-chat-bg: lightblue;
$chat-header: $primary-color;
$chat-body: $secondary-color;
$login-button-bg: linear-gradient(to right, $secondary-color, $primary-color);
$register-button-bg: $login-button-bg;
