@import '../theme/colors';
@import '../theme/variables';

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  min-height: 0;
  
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: linear-gradient(145deg, $primary-400, $primary-500);
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba($neutral-200, 0.5);
  }
}

.infinite-scroll {
  width: 100%;
  height: calc(100vh - #{$header-height} - 8rem);
  padding: map-get($spacing, 'md');
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infinite-scroll-inverse {
  direction: rtl;
  
  & > div {
    direction: ltr;
  }
}
